VITE_SUPABASE_URL=https://auvbegmjmolgthhsisyw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1dmJlZ21qbW9sZ3RoaHNpc3l3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDAyMTYyNzYsImV4cCI6MjA1NTc5MjI3Nn0.f-06Vt8B474NUaMkclwAeDSCCgMEsGNkhXILhSXnN6c
VITE_GEMINI_API_KEY=AIzaSyC67P1pY-hGp4o0z-978cdk8s59x4Y238A